::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #333;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #666;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 1px solid #444;
    /* creates padding around scroll thumb */
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}